body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #0a0a0a;
    color: white;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* CONTENEDOR PRINCIPAL */
.contenido {
    position: relative;
    z-index: 1;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

/* TARJETAS */
.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

header {
text-align: center;
padding: 60px 20px;
background: #020617;
}

h1 {
margin: 0;
font-size: 3em;
}

section {
  background: rgba(255, 255, 255, 0.05);
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
  max-width: 900px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.08);

  transition: all 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 255, 255, 0.2);
}

h2 {
  border-bottom: none;
  margin-bottom: 15px;
  color: #00ffff;
  font-weight: 600;
}

p, li {
  line-height: 1.6;
  color: #e2e8f0;
}

.proyecto {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.proyecto:hover {
  background: rgba(0, 255, 255, 0.08);
  transform: scale(1.01);
}


@media (max-width: 768px) {

  section {
    margin: 10px;
    padding: 15px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.3em;
  }

  .proyecto {
    padding: 15px;
  }

}


.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background: #25D366;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 5px 20px rgba(0,0,0,0.4);

  z-index: 1000;
  transition: 0.3s;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
  background: #1ebe5d;
}

.proyecto {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.3s;
}